@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
html,body { height: 100% }
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: #32435D;
  line-height: 28px;
  font-size: 18px;
}
ul,ol { list-style: none; }
a { color: #fff; }
h1,h2,h3,h4,h5,h6 { line-height: 1; }
button { border: none; background: none; }

/*************************** 공통 요소 *******************************/

.swiper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-slide {
  border-radius: 20px;
  width: 963.158px;
  box-sizing: border-box;
}

.swiper-slide img {
  width: 100%;
  max-width: 100%;
}

.swiper-pagination {
  position: relative;
  bottom: 100;
  top: 0;
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  line-height: 1.42;
  width: auto;
  height: auto;
  border-radius: 0;
  background: none;
  opacity: 1;
}

.swiper-pagination-bullet span {
  display: inline-block;
  font-size: 23px;
  position: relative;
  padding: 0 10px 10px;
}

.swiper-pagination-bullet-active {
  color: #406eff;
  display: inline-block;
}

.swiper-pagination-bullet-active span:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: #406eff;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 35px;
}

/* .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin-right: 0;
} */
:root {
  --swiper-
}
/* .swiper-pagination {
  position: absolute;
  top:  0%;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 100%;
  min-height: 30px;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active:before {
  content: "";
  display: block;
  position: absolute;
  border-top: 10px solid
  transparent;
  border-right: 10px solid
  transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid pink;
  transition: all .5 ease-in-out;
} */

.swiper-button-next, .swiper-button-prev {
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  background: url('../img/btn_swiper_prev.svg') 0 0 no-repeat;
}

.swiper-button-prev:hover {
  background: url('../img/btn_swiper_prev_hover.svg') 0 0 no-repeat;
}

.swiper-button-next {
  background: url('../img/btn_swiper_next.svg') 0 0 no-repeat;
}

.swiper-button-next:hover {
  background: url('../img/btn_swiper_next_hover.svg') 0 0 no-repeat;
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: none;
}

/*************************** 공통 요소 *******************************/

.more-btn {
  display: inline-block;
  font-weight: 300;
  font-size: 22px;
  text-align: center;
  color: #fff;
  background: #406eff;
  border-radius: 60px;
  height: 70px;
  min-width: 280px;
  line-height: 70px;
  cursor: pointer;
}

.more-btn:hover {
  background: #0c254b;
}

/*************************** header 영역 *******************************/

.header-wrap-hover {
  display: inline-block;
  background: #fff;
}

#header-wrap {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 120px;
  width: 100%;
  z-index: 300;
  box-sizing: border-box;
}

#header-wrap:hover {
  min-height: 350px;
  padding-bottom: 60px;
  background: #fff;
}

#header-wrap:hover #gnb > li > a {
  color: #0c254b;
}

#header-wrap:hover .gnb-sub {
  display: inline;
}

#header-wrap:hover #login-menu li:nth-child(2) {
  border: 1px solid #ddd;
}

#header-wrap:hover #login-menu li:nth-child(2) p {
  color: #000;
}

#header-wrap:hover #login-menu li:nth-child(2) p:after {
  background-image: url('../img/sp_ico_01.png');
  background-position: -10px -10px;
}

#header {
  margin: 0 auto;
  max-width: 1440px;
  padding: 35px 0;
}

#logo {
  display: inline-block;
}

#logo img {
  width: 180px;
  height: 50px;
}

#header .inner { float: right; }

#header .inner #gnb, #header .inner #login-menu { float: left; }

#header .inner > ul { overflow: hidden; box-sizing: border-box; }

#header .inner > ul > li { float: left; }

#gnb > li > a { margin-right: 120px; }

#gnb li a {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
}

#gnb .gnb-sub {
  display: none;
  margin-top: 20px;
  padding-right: 10px;
  max-width: 120px;
}

#gnb .gnb-sub li {
  float: none;
  display: block;
  margin-right: 0;
  margin-top: 15px;
  color: #0c254b;
}

#gnb .gnb-sub li:hover a {
  color: #406eef;
}

#gnb .gnb-sub a {
  display: block;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: #0c254b;
  height: auto;
}

#login-menu li {
  display: inline-block;
  width: 120px;
  height: 45px;
  border-radius: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #406eff;
  text-align: center;
  cursor: pointer;
}

#login-menu li a {
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 45px;
  font-size: 16px;
  font-weight: 300;
}

#login-menu li:first-child:hover {
  background: #0c254b;
}

#login-menu li:nth-child(2) {
  margin-left: 15px;
  width: 100px;
  background: none;
  border: 1px solid #fff;
}

#login-menu li:nth-child(2) a {
  font-family: 'AvenirNextLTPro-Regular';
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-left: 5px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: left;
  line-height: 42px;
}

#login-menu li:nth-child(2) a p {
  padding-right: 10px;
}

#login-menu li:nth-child(2) a p:after {
  position: relative;
  content: '';
  display: inline-block;
  background-image: url('../img/bg_demo_arrow.png');
  background-position: center;
  top: 50%;
  right: -12px;
  width: 10px;
  height: 6px;
  transform: translateY(-50%);
}

/*************************** 메인 배너 영역 *******************************/

#mainbanner .inner{
  position: relative;
  height: 1080px;
  background: no-repeat 50% 50%;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

#mainbanner .inner .video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .3);
}

#mainbanner .inner video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 1080px;
  transform: translate(-50%, -50%);
  z-index: -100;
}

#mainbanner .inner .maintext {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

#mainbanner .inner .maintext p {
  font-size: 120px;
  font-weight: 900;
  color: #fff;
  line-height: 1.18;
}

#mainbanner .inner .maintext p span {
  position: relative;
}

#mainbanner .inner .maintext p span:before {
  position: absolute;
  content: '';
  width: 140px;
  height: 140px;
  left: -33px;
  border-radius: 50%;
  background: #406eff;
  z-index: -50;
}

#mainbanner .inner button {
  position: absolute;
  bottom: 70px;
  width: 43px;
  height: 62px;
  background: url('../img/ico_kv_scroll.svg') center no-repeat;
  /* transform: translateX(-50%); */
  padding: 0;
  cursor: pointer;
  animation: scrolldown 0.5s ease-in infinite alternate;
}

@keyframes scrolldown {
  0%{transform:translate(0, 0)}
  100%{transform:translate(0, 15px)}
  }

/*************************** 컨텐츠 영역 *******************************/

section {
  max-width: 1440px;
  width: 1440px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}

section .inner {
  position: relative;
}

section .inner > h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 68px;
  color: #0c254b;
}

section .inner > p {
  margin: 40px 230px 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #0c254b;
  margin-bottom: 100px;
}

/*************** first section *****************/

#first .inner > p { font-size: 20px; }

#first .inner .box-wrap {
  display: flex;
  justify-content: space-between;
}

#first .inner .box-wrap li {
  width: calc( (100% - 120px) / 3);
  text-align: center;
}

#first .inner .box-wrap .items {
  padding: 48px 50px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 5px 15px 0 rgb(12, 37, 75, .15);
  height: 100%;
}

#first .inner .box-wrap .items h3 {
  /* margin: 32px 0; */
  font-size: 20px;
  color: #0c254b;
}

#first .inner .box-wrap .items h3 span {
  line-height: 1.54;
  font-size: 60px;
  font-weight: 700;
  color: #1c4ab4;
  transition: ease-in;
}


#first .inner .box-wrap .items p {
  margin-top: 30px;
  color: #0c254b;
}

#first .inner .box-wrap .items p.box-subtext {
  font-weight: 300;
  margin-top: 0;
  color: #546681;
}

#first .inner .award-wrap {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
  background: #f8f8f8;
  border-radius: 20px;
}

#first .inner .award-wrap .award-text {
  display: inline-block;
  width: calc(100% / 3);
  padding: 33px 0;
  text-align: center;
}

#first .inner .award-wrap .award-text:nth-child(2) {
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #ced3db;
}

#first .inner .award-wrap .award-text p:last-child {
  color: #1c4ab4;
}

/*************** second section *****************/

#second .inner > p {
  line-height: 28px;
}

#second .inner .box {
  position: relative;
  height: 100%;
}

#second .inner .box-items {
  position: relative;
}

#second .inner .box-items.second {
  margin-top: 100px;
}

#second .inner .box-items .box-img {
  position: relative;
  margin-left: 680px;
  width: 700px;
}

#second .inner .box-items.second .box-img {
  width: 540px;
  height: 610px;
}

#second .inner .box .box-img img {
  width: 100%;
  max-width: 100%;
}

#second .inner .text-box {
  position: absolute;
  width: 520px;
  max-height: 230px;
  text-align: left;
  top: 206px;
}

#second .inner .text-box .text-box-maintitle {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.36;
  color: #1c4ab4;
}

#second .inner .text-box .text-box-text {
  margin-bottom: 60px;
}

.introduce-btn {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  padding-right: 23px;
  color: #406eff;
}

.introduce-btn:after {
  content: '';
  background-image: url('../img/btn_more.svg');
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.introduce-btn:hover {
  color: #0c254b;
}

.introduce-btn:hover:after {
  background-image: url('btn_more_hover.svg')
}

/*************** third section *****************/

section#third {
  max-width: 100%;
  width: 100%;
}

#third .inner > p {
  line-height: 28px;
  margin: 40px 0 0;
}

#third .swiper {
  overflow: hidden;
  max-width: 1920px;
}

#third .swiper-pagination-wrap {
  max-width: 800px;
  margin: 80px auto 60px;
  text-align: center;
}

#third .swiper-pagination-wrap ul {
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
}

#third .swiper-pagination-wrap ul li {
  float: left;
  font-size: 24px;
  padding: 0 10px 10px;
  color: #32435D;
}

#third .swiper-slide img {
  position: relative;
  border-radius: 20px;
  z-index: -10000;
}

#third .swiper-slide .slide-box {
  position: absolute;
  z-index: 1000;
  background: red;
  top: 50%;
  left: 70px;
  width: 340px;
  padding: 40px 30px;
  color: #fff;
  border-radius: 10px;
  background: rgba(0, 0, 0, .6);
  transform: translateY(-50%);
  text-align: left;
  box-sizing: border-box;
}

#third .swiper-slide .slide-box img {
  width: 60px;
  height: 60px;
}

#third .swiper-slide .slide-box h3 {
  margin: 30px 0 15px;
  font-size: 24px;
  line-height: 1.42;
}

#third .swiper-slide .slide-box p {
  font-size: 18px;
  line-height: 1.56;
  opacity: .8;
}

#third .swiper-slide .slide-box a {
  margin-top: 60px;
}

#third .swiper-btn {
  position: absolute;
  top: 62%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#third .swiper-button-prev {
  left: 50%;
  margin-left: -12px;
  transform: translateX(-526px);
}
#third .swiper-button-next {
  right: 50%;
  margin-right: -12px;
  transform: translateX(526px);
}



/*************** fourth section *****************/

#fourth .swiper-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#fourth .navigation-wrap {
}

#fourth .navigation-prev, .navigation-next {
  position: absolute;
  height: 40px;
  width: 40px;
  top: calc(50% - 22px);
  cursor: pointer;
}

.navigation-prev {
  background: url('../img/btn_swiper_prev.svg') 0 0 no-repeat;
  left: 0;
}

.navigation-prev:hover {
  background: url('../img/btn_swiper_prev_hover.svg') 0 0 no-repeat;
}

.navigation-next {
  background: url('../img/btn_swiper_next.svg') 0 0 no-repeat;
  right: 0;
}

.navigation-next:hover {
  background: url('../img/btn_swiper_next_hover.svg') 0 0 no-repeat;
}

#fourth .swiper.swiper-fourth {
  margin: 100px 50px 0;
}

#fourth .swiper-wrapper {
  padding: 10px 10px 20px;
}

#fourth .swiper-btn {
  display: none;
}

/* #fourth .swiper-wrapper a {
  margin-right: 40px;
} */

#fourth .swiper-slide {
  max-width: 300px;
  margin-right: 40px;
  box-shadow: 0 5px 15px 0 rgb(12 37 75 / 15%);
  border-radius: 20px;
  overflow: hidden;
}

#fourth .swiper-slide .slide-box {
  text-align: left;
  padding: 40px;
}

#fourth .swiper-slide .slide-box h3 {
  color: #1c4ab4;
  font-weight: 700;
}

#fourth .swiper-slide .slide-box p {
  margin-top: 30px;
  font-weight: 500;
  min-height: 103px;
  line-height: 1.89;
  color: #32435D;
}

#fourth .swiper-slide .slide-box p:last-child {
  margin-top: 20px;
  color: #0c254b;
  font-size: 16px;
  font-weight: 300;
  min-height: 0;
}

#fourth .swiper-slide .slide-box p.new-icon:before {
  content: 'new';
  display: inline-block;
  height: 22px;
  line-height: 22px;
  margin-right: 10px;
  padding: 0 8px;
  color: #406eff;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  border-radius: 40px;
  border: 1px solid #406eff;
  vertical-align: middle;
  margin-top: -2px;
}

#fourth .inner .more-btn {
  margin-top: 80px;
}

/*************** fifth section *****************/

section#fifth {
  padding: 200px 0;
  width: 100%;
  max-width: 100%;
}

#fifth .swiper {
  max-width: 100%;
}

#fifth .swiper-wrapper {
  transition-duration: 5000;
  transition-timing-function: linear;
}

#fifth .swiper-wrapper .swiper-slide {
  width: auto;
  max-width: auto;
  margin-right: 120px;
  overflow: visible;
}

#fifth .swiper-wrapper .swiper-slide img {
  display: block;
  width: auto;
  margin: 180px 0 0 0 ;
}

#fifth .swiper-wrapper .swiper-slide img:last-child {
  margin-top: 100px;
}

/*************** sixth section *****************/

section#sixth {
  width: 100%;
  max-width: 100%;
  padding: 110px 0 154px;
  background-color: #335fe8;
  border-bottom: 1px solid rgba(12, 37, 74, .2);
}


#sixth .inner h2 {
  color: #fff;
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
  margin-top: 10px;
}

#sixth .inner a {
  margin-top: 60px;
  background: #fff;
  color: #0c254b;
}

#sixth .inner a:hover {
  background: #406eff;
  color: #fff;
}

/*************************** 하단 영역 *******************************/
#footer {
  position: relative;
  background-color: #335fe8;
  padding: 80px 0 90px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
}

#footer .inner {
  position: relative;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}

#footer .f-box.first {
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(12, 37, 74, .2);
  overflow: hidden;
}

#foter .f-box.first > a {
  float: left;
}

#footer .f-box.first > a img {
  width: 140px;
  height: 35px;
}

#footer .f-box.first .footer-menu {
  float: right;
  font-weight: 300;
  font-size: 15px;
  color: #f8f8f8;
}

#footer .f-box.first .footer-menu > ul {
  overflow: hidden;
}

#footer .f-box.first .footer-menu > ul > li {
  float: left;
  width: 191px;
  padding-right: 10px;
  box-sizing: border-box;
}

#footer .f-box.first .footer-menu > ul > li:last-child {
  width: auto;
}

#footer .footer-menu > ul > li > ul {
  margin-top: 30px;
}

#footer .footer-menu > ul > li > ul > li {
  opacity: .7;
  line-height: 32px;
}

#footer .footer-menu > ul > li > ul > li:hover a {
  color: #0c254b;
}

#footer .f-box.second {
  overflow: hidden;
  padding: 40px 0;
  border-bottom: 1px solid rgba(12, 37, 74, .2);
}

#footer .f-box.second .newsletter-wrap {
  float: left;
}

#footer .newsletter-wrap .subscribe {
  float: left;
  text-align: left;
}

#footer .newsletter-wrap .subscribe strong {
  display: inline;
  font-size: 28px;
  line-height: 38px;
}

#footer .newsletter-wrap .subscribe p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 25px;
  opacity: .7;
}

#footer .newsletter-wrap .email-wrap {
  position: relative;
  float: left;
}

#footer .email-wrap > input {
  border-radius: 80px;
  border: none;
  width: 688px;
  height: 73px;
  margin-left: 70px;
  font-size: 18px;
  line-height: 50px;
  background: #1e48cc;
  padding: 7px 210px 7px 30px;
  color: #fff;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}

#footer .email-wrap > input::placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

#footer .email-wrap button {
  position: absolute;
  top: 11px;
  right: 11px;
  min-width: 180px;
  height: 50px;
  padding: 0 30px;
  border: 30px;
  line-height: 50px;
  font-size: 18px;
  background: #0c254b;
}

#footer .email-wrap button:hover {
  background: #fff;
  color: #0c254b;
}

#footer .email-wrap input:last-child {
}

#footer .email-wrap .check-wrap {
  margin-top: 10px;
  margin-left: 70px;
}

#footer .email-wrap .check-wrap img {
  position: relative;
  left: 34px;
  top: 2px;
}

#footer .email-wrap .check-wrap input {
  display: none;
}

#footer .email-wrap .check-wrap label {
  cursor: pointer;
  opacity: .7;
  margin-left: 45px;
}

#footer .email-wrap .check-wrap label a {
  text-decoration: underline;
}

#footer .f-box.second .icon-wrap {
  float: right;
}

#footer .icon-wrap a {
  margin-top: 25px;
  margin-left: 40px;
  float: left;
}

#footer .icon-wrap a:first-child {
  margin-left: 0;
  width: 30px;
  height: 30px;
}

#footer .icon-wrap img {
  width: 100%;
  height: 100%;
}

#footer .icon-wrap img:hover {
  transition: .3s;
}

#footer .f-box.third {
  padding-top: 40px;
}

#footer .f-box.third .address-wrap {
  overflow: hidden;
}

#footer .address-wrap .address {
  float: left;
}

.address p, .address span {
  opacity: .7;
}

#footer .address-wrap .address .familysite {
  overflow: hidden;
  margin-top: 40px;
}

#footer .address-wrap .address .familysite span {
  float: left;
  line-height: 40px;
}

#footer .address-wrap .address .familysite ul {
  overflow: hidden;
}

#footer .address-wrap .address .familysite li {
  float: left;
  border-radius: 5px;
  margin-left: 16px;
  width: 100px;
  height: 40px;
}

#footer .address-wrap .address .familysite li:first-child {
  margin-left: 30px;
}

#footer .address-wrap .address .familysite li a img {
  opacity: 1;
}

#footer .address-wrap .policy {
  float: right;
  opacity: .7;
}

#footer .address-wrap .policy a:first-child {
  text-decoration: underline;
  font-weight: 500;
}

#footer .address-wrap .policy a:last-child {
  position: relative;
  padding-left: 30px;
}

#footer .address-wrap .policy a:after {
  position: absolute;
  display: block;
  content: '';
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 13px;
  background: #fff;
}
